@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body, html, #root{
	width: 100vw;
	height: 100vh;
}

nav{
	text-align: center;
	display: block;
	width: 100%;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
nav > ul{
  list-style-type: none;
  margin: 0px;
}
nav > ul > li > a{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px;
}
.burguer-menu{
  display: block;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  text-align: center;
  cursor: pointer; 
}